{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;     
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;
    cursor: pointer;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: aqua;
    padding: 5px 20px;
    border: 1px solid transparent; 
    transition: 0.4s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50)
}

.title h1{
    color: mediumaquamarine;
    font-size: 40px;
}

